<div class="row">
    <div class="col-lg-2">
        <div class="d-grid">
            <button class="btn btn-primary btn-block" type="button" (click)="backToHome()">Back to home</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-2">
        <div class="card border-secondary mb-3">
            <div class="card-header h3 text-muted text-center">Users</div>
            <div class="card-body" style="min-height: 555px;">
                <div class="row mt-1" *ngFor="let user of users">
                    <div class="col">
                        <div class="d-grid">
                            <button type="button" class="btn btn-success card-text btn-block" [disabled]="true" *ngIf="user.emailID == loginEmail">{{user.userName}}</button>
                            <button type="button" class="btn btn-outline-dark card-text btn-block" *ngIf="user.emailID != loginEmail" (click)="privateChat(user)">{{user.userName}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="card border-secondary">
            <div class="card-header h3 text-muted text-center">Group Messages</div>
            <div class="card-body" style="min-height: 500px;">
                <app-messages [messages]="chatService.messages"></app-messages>
            </div>
            <div class="card-footer">
                <app-chat-input (contentEmitter)="sendMessage($event)"></app-chat-input>
            </div>
        </div>
    </div>
</div>