<div class="list_view_main mx-0 mt-3">
    <div class="table-responsive text-nowrap p-0">
        <table class="table common-table m-0" aria-labelledby="table">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>
                        User name
                    </th>
                    <th>
                        Email ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of userList">
                    <td>
                        <button mat-raised-button *ngIf="user.userID != loginUserID" (click)="connect(user.userID)">
                            Connect 
                        </button> 
                        <button mat-raised-button *ngIf="user.userID == loginUserID" [disabled]="true">
                            Owner 
                        </button> 
                    </td>
                    <td>{{ user.userName }}</td>
                    <td>{{ user.emailID }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>