<div class="modal-header">
    <h5 class="modal-title" id="modalTitleId">
        Personal chat with : {{ toUser }}
    </h5>
    <button type="button" class="btn-close" (click)="modelService.close('Cross click')" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="card-header h3 text-muted text-center">Messages</div>
    <div class="card-body" style="min-height: 500px;">
        <app-messages [messages]="chatService.personalMessages"></app-messages>
    </div>
    <div class="card-footer">
        <app-chat-input (contentEmitter)="sendMessage($event)"></app-chat-input>
    </div>
</div>