<div class="container-fluid">
  <div class="row p-2">
    <button mat-raised-button color="primary" class="m-2" 
      (click)="showDialog(false)">Start Video Call</button>
    <button mat-raised-button class="m-2" (click)="showDialog(true)">Join Video
      Call</button>
    <button mat-raised-button color="warn" class="m-2"  (click)="endCall()">End
      Call</button>
    <button mat-raised-button color="primary" class="m-2"  (click)="shareScreen(false)">Start Screen Share Call</button>
    <button mat-raised-button class="m-2"  (click)="shareScreen(true)">Join Screen Share
      Call</button>
  </div>
  <div class="row">
    <div class="col text-center">
      <div id="video-wrapper">
        <video #remoteVideo id="remote-video" poster="./assets/video-placeholder.jpg" autoplay playsinline></video>
        <video #localVideo id="local-video" autoplay playsinline [muted]=true></video>
      </div>
    </div>
  </div>
</div>