<ng-container *ngIf="openChat == true">
    <app-chat (closeChatEmitter)="closeChat()"></app-chat>
</ng-container>

<ng-container *ngIf="openChat == false">    
    <div class="d-flex justify-content-center mt-5">
        <div class="col-12 col-lg-5">
            <main class="form-signin">
                <form class="p-3 border" [formGroup]="userForm" (ngSubmit)="submitForm()" autocomplete="off">
                    <div class="form-floating mb-3">
                        <input type="text" formControlName="name" class="form-control" placeholder="Name"
                            [class.is-invalid]="submitted && userForm.get('name')?.errors">
                        <span class="text-danger" *ngIf="submitted && userForm.get('name')?.hasError('required')">
                            Please select name
                        </span>
                        <label for="name">Name</label>
                    </div>
                    <div class="d-grid mt-4 px-4">
                        <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</ng-container>